table input[type="number"] {
    width: 80px;
}
#content div{
    margin-left: 1%;
    margin-right: 1%;
}
.card-body {
    padding: 5px;
}
.clickable {
    cursor:pointer;
}
.clickable:hover {
    color: #ff7f00;
}
.product_features input {
    width: 90%;
}
.product_features textarea {
    width: 90%;
}
.mt-40 {
    margin-top: 40px;
}
.mt-80 {
    margin-top: 80px;
}
.product_images img {
    border-style: dotted;
}
.product_images input[type="radio"] {
    position:fixed;
    opacity:0;
}
.main_image {
    border-style: dotted;
    border-color: red;
}
.f-right {
    float: right;
}
.hidden{
    display:none!important
}

.container_img {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .container_img img {
    width: 150px;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .container_img .btn {
    position: absolute;
    top: 0;
    left: 0;
    /* transform: translate(-50%, -50%); */
    /* -ms-transform: translate(-50%, -50%); */
    opacity: 0.7;
    background-color: rgb(173, 0, 0);
    color: white;
    font-size: 12px;
    /* padding: 12px 24px; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .lightgrey {
      background-color: lightgrey;
  }
  .card_text {
    display: inline-block;
  }