/*--------------------------------------------------------------

  Template Name: Subash Ecommerce Responsive Bootstrap Template
  Description: This is html5 template
  Author: codecarnival
  Version: 1.0
  Design and Developed by: codecarnival

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/

#page-content {
  margin-top: 120px;
}
p {
  color: #545454;
}
label {
  color: #545454;
}
input[type="text"], input[type="email"] {
  padding-left: 10px;
  color: #545454;
}
select {
  color: #545454;
}
.modal-dialog {
  margin: 8% auto;
}
.quick-add-to-cart .single_add_to_cart_button {
  background: #ff7f00 none repeat scroll 0 0;
  padding: 0;
}
.quick-add-to-cart .single_add_to_cart_button:hover {
  background: #9b4d00 none repeat scroll 0 0;
  text-decoration: none;
}
a.button.single_add_to_cart_button span {
  font-weight: 700;
}
a.button.quick_buy {
  background: #18d000 none repeat scroll 0 0;
  padding: 0;
}
a.button.quick_buy span{
  font-weight: 700;
}
a.single_add_to_wishlist_button {
    background: rgb(226, 38, 116) none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 700;
    height: 45px;
    /* margin-left: 15px; */
    /* padding: 0 20px; */
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
}
.btn_pr {
    cursor: pointer;
}
.registered-customers, .new-customers {
  max-width: 380px;
  margin: 0 auto;
}
.modal-product .product-info .quick-add-to-cart {
  display: grid;
}
.modal-product .product-info .quick-add-to-cart #added_to_cart{
  margin-top: 10px;
}
.total-cart-in > ul.unfold_cart_top {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.delcart {
  cursor: pointer;
}
.cquantity {
  cursor: pointer;
  color: blue;
  font-weight: 600;
  font-size: 18px;
}
.red-font {
  color: red;
}
.sticky .logo {
  padding: 31px 0;
}
.sticky .main-menu > li {
  padding: 31px 0;
}
.sticky .header-search-inner button.search-toggle {
    padding: 18px 15px;
}
.plr-100 {
  padding: 0 100px;
}
.plr-80 {
  padding: 0 80px;
}
.plr-40 {
  padding: 0 39px;
}
.tab-list {
  cursor: pointer;
}
#list_of_products {
  text-align: center;
}
.sin-plus-minus > p, .pro-price {
  margin-top: 4px;
}
input#qty {
  padding-left: 10px;
  width: 65px;
}
#product-page.container {
  width: 70%;
}
.single-product-info .s-price-box {
  border-bottom: 0;
  border-top: 0;
  display: block;
  padding: 0;
}
.single-product-info .old-price {
  color: #a6a6a6;
  font-size: 15px;
  text-decoration: line-through;
  padding-left: 20px;
}
.inline {
  display: -webkit-box;
}
.center {
  margin: 0 auto;
  text-align: center;
}
.inner-addon {
  position: relative;
}
.inner-addon .zmdi {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .zmdi {
  left: 0px;
  margin-top: 3px;
}
.right-addon .zmdi {
  right: 0px;
  margin-top: 3px;
}
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}
.product-remove a.delcart_c {
  cursor: pointer;
  width: initial;
}
.product-remove a.delcart_w {
  cursor: pointer;
  width: initial;
}
.next {
  margin-top: 85px;
}
a.button.next span {
  font-weight: 700;
}
select {
  padding-left: 5px;
}
.shipping-details input, .login-account input {
  padding-left: 10px;
}
a#billing-address {
  padding-right: 244px;
}
#select_shipper {
  color: blue;
  cursor: pointer;
  padding-right: 125px;
}
.notification.is-danger {
  color:red;
}
p.mb-7 {
  margin-bottom: 7px;
}
.mlr-60 {
  max-width: 60%;
}
.mt-20 {
  margin-top: 20px;
}
.mt-40 {
  margin-top: 40px;
}
.personal-info p {
  color: rgb(46, 46, 46);
}
.personal-info a {
  color: blue;
  cursor: pointer;
}
.personal-info a:hover {
  color: orangered;
}
.panel-group {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.panel-group .panel.panel-cj {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  background-color: #616161;
  border-color: orangered;
}
.panel-group .panel.panel-cj .panel-heading {
  color: white;
  font-weight: 600;
}
.panel .panel-heading h4.panel-title a {
  display: -webkit-box;
  font-weight: 600;

}
div.myrow {
  width: 100%;
}
div.myrow div{
  padding: 0;
}
.clickable {
  cursor:pointer;
}
.clickable:hover {
  color: #ff7f00;
}
.clicable_addr {
  cursor:pointer;
}
.clicable_addr:hover {
  color: #ff7f00;
}
a.delete_addr {
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  cursor:pointer;
}
a.delete_addr:hover {
  color: #ff7f00;
}
.bootbox-body {
  color: #545454;
}
.panel-cj .panel-heading a.main_address {
  color: gold;
  cursor: pointer;
}
.address_tag, .shipper, .payment {
  color: #545454;
}
.payment-details table tbody tr td {
  color: #545454;
}
.payment-details table tbody tr td.order-total, .payment-details table tbody tr td.order-total-price {
  color: #ff7f00;
}
div.terms-conditions-chkbx label, div.address_radio label, .same_billing_address label {
  color: #545454;
  font-size: 12px;
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}
div.terms-conditions-chkbx input, div.address_radio input, .same_billing_address input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -5px;
  *overflow: hidden;
}
div.terms-conditions-chkbx a {
  color: #ff7f00;
}
div.privacy_policy ul li, div.privacy_policy ol li {
  color: #545454;
}
div.privacy_policy h1, div.sales_terms h1 {
  text-align:center;
}
div.sales_terms ul li, div.sales_terms ol li {
  color: #545454;
}
.shipping_address .row > div:first-child {
  padding-right: 0;
}
.shipping_address input, .shipping_address select {
  margin-bottom: 10px;
  height: 33px;
}
.billing_address input, .billing_address select {
  margin-bottom: 10px;
  height: 33px;
}
.same_billing_address label {
  font-size: 14px;
}
#table_shipping_methods  {
  border: 1px solid #545454;
}
#table_shipping_methods tr {
  border-top: 1px solid #545454;
  height: 48px;
  cursor: pointer;
}
#table_shipping_methods tr:hover {
  background-color: lightblue;
}
#table_shipping_methods tr.active {
  background-color: lightblue;
}
#table_shipping_methods tr td.td-title-1 {
  color: #545454;
  text-align: center;
}
.my-account-content .payment-details table tr td {
  padding: 0;
}
.icon_header_1 {
  padding: 20px 0;
  transition: all 0.3s ease 0s;
}
.icon_header_2 {
  padding: 10px 0 25px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.icon_header_3 {
  color: #666;
  display: block;
  font-size: 20px;
  padding: 15px 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.icon_header_3:hover {
  color: #ff7f00;
}
.header-search-inner::before, .total-cart-in:before, div.wishlist_header:before, div.account_header:before {
    /* background: #ff7f00 none repeat scroll 0 0;
    content: "";
    height: 20px;
    margin-top: -20px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px; */
    background: none;;
    content: "";
    height: 0;
    margin-top: 0;
    position: initial;
    right: 0;
    top: 0;
    width: 0;
}
.cart-toggler > a {
  padding: 0 5px;
}
#numitemsinwislist {
  font-size: 14px;
}
div.wishlist_header a.icon_header_3 {
  padding-top:0;
  padding-bottom:0;
}
/* .total-cart-in:before, div.wishlist_header:before, div.account_header a:before {
  margin-top: -10px;
} */
.sticky .icon_header_1 {
  padding: 0;
}
.sticky .icon_header_2 {
  padding: 10px 0 12px;
}

.payment-method .panel {
  padding-bottom: 5px;
}
.set_password {
  max-width: 360px;
}
.tab-content>.tab-pane {
  color: #545454;
}
a.button_close {
  background-color: rgb(255, 87, 87);
}
a.button_close i {
  width: 33px;
  padding: 9px 12px;
}
.contact-address {
  padding: 0;
  min-height: initial;
}
.contact-address i {
  margin-bottom: 0px;
}




body div.cookiewarning {
	display: none;
}
body.cookiewarning div.cookiewarning {
  padding: 1em;	
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
	background-color: rgba(0,0,0,.8);
	color: white;
}
body.cookiewarning div.cookiewarning p {
  margin-bottom: 0;
}
div.cookiewarning .white_font {
	color: white;
}


body .removecookie {
	display: inline-block;
}

body.cookiewarning .removecookie {
	display: none;
}



@media (min-width: 1112px) {
    .modal-dialog {
        width: 55%;
    }
    .address_tag, .shipper, .payment {
      margin-top: 20px;
      margin-left: 30px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
  .address_tag, .shipper, .payment {
    margin-top: 20px;
    margin-left: 30px;
  }
  .sticky .top-search-box {
      top: 20px;
  }
  .sticky .total-cart {
    padding: 0;
  }
  .sticky .header-search {
    padding: 0;
  }
  #page-content {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .address_tag, .shipper, .payment {
    margin-top: 10px;
    margin-left: 10px;
  }
  .container {
    width: 90%;
  }
  .plr-40 {
    padding: 0;
  }
  .top-search-box {
    right:20px;
  }
  .search-top-cart.f-right {
    margin-left: 15px;
    float:none;
  }
  #page-content {
    margin-top: 0;
  }
}
